/* Let's get this party started */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  height: 6px;
  background: transparent
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background : rgba(102, 102, 145, 0.5);
}
